/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:root {
  --black: #323640;
  --gray: #8d9ca6;
  --gray-2: #9abbd9;
  --gray-3: #bdd9f2;
  --gray-4: #d5e5f2;

  --blue: #122a59;
  --blue-2: #1f64bf;
  --blue-3: #30a8f2;
  --blue-4: #5a98bf;

  --white: #fff;

  --button-radius: 10px;
  --color-border: var(--light-gray);

  /* General container */
  --gPadding: 10px;
  --input-radius: 14px;
  --container-width: 100%;
  --options-width: 20%;
  --details-width: 80%;

  --paragraph-margin: 10px;

  /* Card */
  --width-cards: 90%;
}

body,
html,
.MyChat {
  height: 100%;
  font-family: sans-serif;
}

.f1WorldCampios {
  display: flex;
  font-size: 14px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

div {
  box-sizing: border-box;
}

@media screen and (min-width: 600px) {
  :root {
    --width-cards: calc(100% / 2 - (var(--gPadding) * 2));
  }
}

@media screen and (min-width: 768px) {
  :root {
  }
}

@media screen and (min-width: 992px) {
  :root {
    --width-cards: calc(100% / 3 - (var(--gPadding) * 2));
  }
}

@media screen and (min-width: 1280px) {
  :root {
  }
}

@media screen and (min-width: 1920px) {
  :root {
    --width-cards: calc(100% / 4 - (var(--gPadding) * 2));
  }
}

@media screen and (min-width: 3840px) {
}
